{% extends 'nicebuy/base.html' %}

{% block title%} Title of About{% endblock %}
{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Nice Buy!</h1>
        <p>Nice Buy is an American multinational technology company based in Seattle, Washington that focuses on e-commerce, cloud computing, digital streaming and artificial intelligence. It is considered one the Big Four technology companies along with Google, Apple and Facebook.[7][8][9]

Nice Buy is known for its ability to disrupt well-established industries through technological innovation and mass scale.[10][11][12] It is the largest e-commerce marketplace, AI assistant provider, and cloud computing platform in the world as measured by revenue and market capitalization.[13]Nice Buy is additionally the largest Internet company by revenue in the world[14] and the second largest employer in the United States.[15] It is currently the 2nd most valuable company in the world by market capitalization.

Nice Buy was founded by Jeff Bezos on July 5, 1994 in Bellevue, Washington. It initially started as an online marketplace for books but later expanded to sell electronics, software, video games, apparel, furniture, food, toys, and jewelry. The company additonally distributes video, music, audiobook downloads and streaming through its Nice Buy Prime Video, Nice Buy Music, and Audible subsidiaries. Nice Buy also has a publishing arm, Nice Buy Publishing; film and television studio, Nice Buy Studios; produces consumer electronics lines including Kindle e-readers, Fire tablets, Fire TV, and Echo devices, and is the world's largest provider of cloud infrastructure services through its cloud computing subsidiary Nice Buy Web Services.[16] Nice Buy subsidiaries additionally include Ring, Twitch.tv, Whole Foods Market, and iMDb.

Nice Buy has separate retail websites for some countries and also offers international shipping of some of its products to certain other countries.[17] 100 million people subscribe to Nice Buy Prime.[18][19] In 2015, Nice Buy surpassed Walmart as the most valuable retailer in the United States by market capitalization.[20] In 2017, Nice Buy acquired Whole Foods Market for $13.4 billion, which vastly increased Nice Buy's presence as a brick-and-mortar retailer</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}